<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="http://46ee815878.qicp.vip/assets/libs/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://46ee815878.qicp.vip/assets/css/base.css">
    <link rel="stylesheet" href="http://46ee815878.qicp.vip/assets/css/oneBook.css">
</head>

<body>
    <header>
        <div class="funcModule">
            <div class="bainian"><img src="http://46ee815878.qicp.vip/assets/images/bainian2.png"></div>
            <div class="container">
                <div class="funcLeft">
                    <a href="http://46ee815878.qicp.vip/register_login.html">欢迎光临，<span>去登录</span></a>
                    <a href="http://46ee815878.qicp.vip/login_register.html">免费注册</a>
                </div>
                <div class="funcRigth">
                    <ul>
                        <li></li>
                        <li><a href="http://46ee815878.qicp.vip/index.html">书店首页</a></li>
                        <li>|</li>
                        <li><a href="javascript:;"><span
                                    class="glyphicon glyphicon-shopping-cart"></span>购物车<span>0</span></a></li>
                        <li>|</li>
                        <li><a href="javascript:;">我的订单</a></li>
                        <li>|</li>
                        <li><a href="javascript:;">个人中心</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="searchBook">
            <div class="container">
                <div class="logo"><a href="http://46ee815878.qicp.vip/index.html"><img
                            src="http://46ee815878.qicp.vip/assets/images/logo.png"></a></div>

                <form class="form-inline" id="searchForm">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputsearch" placeholder="">
                            <button class="glyphicon glyphicon-search"></button>
                        </div>
                    </div>
                </form>
            </div>
            <ul class="nav nav-pills headernav">
                <li role="presentation"><a href="http://46ee815878.qicp.vip/index.html">主页</a></li>
                <li role="presentation"><a href="http://46ee815878.qicp.vip/commonbooks.html">书库</a></li>
                <li role="presentation"><a href="http://46ee815878.qicp.vip/activeBooks.html">畅销书籍</a></li>
                <li role="presentation"><a href="http://46ee815878.qicp.vip/newBooks.html">新书</a></li>
            </ul>
        </div>
    </header>

    <div class="bookbody container">
        <div class="bodyLeft">
            <div class="bookpic">
                <img src=<%=picUrl %> >
            </div>
            <h2>《<%=bookname %>》</h2>
        </div>
        <div class="bodyRigth">
            <div class="bookname"><%=bookname %></div>
            <div class="content"><%=content %></div>
            <div class="author"><a href="javacripts:;"><%=author %></a> [著]</div>
            <div class="price"><span>书城价格</span><span>￥</span><span><%=bookprice %></span></div>
            <div class="classify"><span>购买规格</span><span><a href="javascript:;" class="classifyname">1本</a></span></div>
            <div class="num"><span>数量</span>
                <div class="upun">
                    <input type="text" value="1">
                    <a href="javascript:;" class="glyphicon glyphicon-chevron-up"></a>
                    <a href="javascript:;" class="glyphicon glyphicon-chevron-down"></a>
                </div>
            </div>
            <div><p><span>库存:</span><span><%=booknum %></span></p></div>
            <div class="toOrderCar">
                <button>加入购物车</button>
            </div>
        </div>
    </div>

    <footer>
        
    </footer>

</body>

</html>